extends pug/base

append vars
    //-

block content
    .c-wrapper
        .c-block
            .c-block--content
                .l-grid
                    span.c-user Genotek
                    .c-user--info
                        | неделю назад
                        span доступно только мне
                h2 Подарочный набор для сдачи ДНК-теста доставлен
                p Спасибо, что выбрали Genotek! На упаковке вы найдете подробную инструкцию как сдать ДНК-тест.
            img(src="/images/news-demo.jpg")
            .c-list
                .c-list--block
                    .c-list--block__trigger Как подарить набор другу, чтобы он создал свой личный кабинет?
                    .c-list--block__content
                        div
                            p Все просто! На подарочной упаковке ДНК-теста указан временный логин и пароль, который защищен стираемой полосой.
                            p Человеку, который получил ДНК-тест в подарок, нужно ввести временный логин и пароль на странице входа в личный кабинет lk.genotek.ru. После этого ему будет предложено зарегистрироваться или указать данные уже зарегистрированного пользователя, ввести номер пробирки и вызвать курьера для доставки биоматериала в лабораторию.
                            p Обратите внимание, что по умолчанию вы не получите доступ к результатам ДНК-теста того, кому вы подарили тест. Но вы можете попросить вашего близкого поделиться с вами результатами в его настройках профиля.
                        img(src="/images/list-img.png")
                .c-list--block
                    .c-list--block__trigger Хочу активировать ДНК-тест в этом личном кабинете
                    .c-list--block__content
                        div
                            p На подарочной упаковке ДНК-теста указан временный логин и пароль, который защищен стираемой полосой. Пожалуйста, введите их ниже. После ввода временных данных, вы сможете ввести номер пробирки и вызвать курьера для доставки биоматериала в лабораторию.
                            img(src="/images/list-img.png").c-mobile-view
                            .c-form--wrap
                                form(action="#")
                                    input(placeholder="Логин").c-input
                                    input(type="password" placeholder="Пароль").c-input
                                    input(type="submit" value="Активировать ДНК-тест").c-submit
                        img(src="/images/list-img.png").c-hidden